.ricardian-contract {
  text-align: left;
}

.ricardo-img {
  height: 80px;
}

.block-content {
  position: relative;
  padding: 1em;
}

.ricardo-img {
}

.ricardian-container {
  text-align: left;
  position: absolute;
  left: 0px;
  top: 0px;
}
